body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.wrapper {
    text-align: center;
    width: 480px;
    padding: 70px;
    margin: 0;
    background-color: palevioletred;
}

.card-title {
    margin-top: 0;
    font-size: 48px;
}

.card-description {
    font-size: 24px;
}

.btn {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
}